.topbar{
    
position: fixed;
    top: 0;
    height: 60px;
    background-color: rgb(206, 190, 190);
    width: 100%;
    z-index: 1;
}
.title{
    position: absolute;
    left: 10px;
    font-size: 35px;
    
}

.clickso{position: absolute;
    background-color: white;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    width: 60%;
right: 0;
cursor: pointer;
}

.signout{
    position: absolute;
    right: 10px;
    font-size: 30px;
    top: 10px;
}
.user{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    top: 20%;
    color: rgb(176, 183, 184);
}
.main{
    position: absolute;
    top: 90px;
    height:681px;
    width: 100%;
    background-color: rgb(114, 26, 88);
    background-repeat:repeat;
} 
.listName{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    top:10%
}
.listItem{
    position: absolute;
    left: 28.7%;
    right: 0;
    
    font-size: 20px;
    top:20%;
    width: 50%;
    padding-right:7% ;
    
}

.clearList{
    position: absolute;
    width: 20%;
    left: 52%;
    right: 0;
    align-content: center;
}
.submitList{
    position: absolute;
    width: 20%;
    left: 28%;
    right: 0;
    align-content: center;

}
.showItems{
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    height: 50%;
   margin-bottom: 10%;
}
svg:hover{
   cursor: pointer;
} 
.container{
    background-color: antiquewhite;
    padding: 1%;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 40%;
    
}
.img{
    position: absolute;
    top: 21%;
    left: 69%;
}
.img:hover{
    cursor: pointer;
}
body{
    background-color: rgb(114, 26, 88);
    padding-right:100px ;
}
.input-group-text:hover{
    background-color: lightblue;
}
.left{
    position: absolute;
    top: 20%;
    left: 10%;

}
.left:hover{
    background-color: lightblue;
    border-radius: 20px;
}
.message1{
    position: absolute;
    background-color: pink;
    
    left: 20%;
    width: 60%;
    right: 0;
    border-radius: 10px;
    padding: 3% 6%;
    z-index: 2;
    border: 2px solid pink;
    transition: 0.9s;
    margin-top: 10%;
}
/*hover*/